@import "tailwindcss";

@font-face {
  font-family: 'Restora';
  src: url('./assets/Restora-DFhuTGLQ.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'Restora';
  src: local('Restora-Bold'), local('Restora Bold');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */

@theme {
  --font-family-restora: 'Restora', serif;
}

.realistic-gold-border-thin {
  background-image: linear-gradient(#0f0f0f,#0f0f0f), linear-gradient(135deg, #654321, #b38728, #d4af37, #ebd197, #fcf6ba, #ebd197, #d4af37, #b38728, #654321);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: 1px solid #0000;
  border-radius: 12px;
  box-shadow: 0 2px 8px #0000004d, 0 0 0 1px #d4af3733, inset 0 1px #fbf5b74d;
}